* {
	margin: 0;
	padding: 0;
	background-color: #466060;
	color: antiquewhite;
}
body,
html {
	min-height: 100vh;
	min-width: 95vw;
}
/* layout */
body {
	display: grid;
	grid-template-columns: 5% 90% 5%;
	grid-template-rows: 15% 35% 40% 10%;
	grid-template-areas:
		"header header header"
		". main-1 ."
		". img-box ."
		"footer footer footer";
}
header {
	grid-area: header;
}
.main-1 {
	grid-area: main-1;
}
.img-box {
	grid-area: img-box;
}
footer {
	grid-area: footer;
}
/* Nav */
.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	display: inline;
}
.nav-list li {
	display: inline;
	padding: 1vh 3vw;
}
.nav-list a {
	text-decoration: none;
	font-size: 2.5em;
}
.nav-list a:hover {
	color: black;
	cursor: pointer;
}

.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.contact-button-box {
	display: inline-block;
}
.contact-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.contact-button:hover {
	background-color: antiquewhite;
	color: black;
}
/* main content */
.main-heading {
	color: #f8c7cc;
	text-align: center;
	margin: 3vh;
	font-size: 3em;
}
.main-1 {
	font-size: 2em;
}
.main-2 {
	text-align: center;
	font-size: 2em;
	color: #81a684;
}
.img-box {
	margin-top: 3%;
	margin-bottom: 3%;
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.img-box .image {
	background-color: #466060;
	padding: 10px;
	box-shadow: black;
}
/* footer styles/layout*/
footer {
	font-size: 1.5em;
	margin-top: auto;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.socials {
	display: flex;
	flex-direction: column;
}
.socials a {
	text-decoration: none;
	margin-right: 5vw;
}
.socials a:hover {
	color: black;
}
.legals * {
	color: black;
}
