* {
	margin: 0;
	padding: 0;
	background-color: #466060;
	color: antiquewhite;
}
/* Nav */
.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	display: inline;
}
.nav-list li {
	display: inline;
	padding: 1vh 3vw;
}
.nav-list a {
	text-decoration: none;
	font-size: 2.5em;
}
.nav-list a:hover {
	color: black;
	cursor: pointer;
}

.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.contact-button-box {
	display: inline-block;
}
.contact-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.contact-button:hover {
	background-color: antiquewhite;
	color: black;
}
/* main content */
.main-header {
	font-size: 5em;
	text-align: center;
	color: #f8c7cc;
}
.main-content {
	font-size: 3em;
	text-align: center;
}
.flex-container {
	margin: 15vh 5vw 15vh 5vw;
	max-width: 90vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.contact-info {
	font-size: 2em;
}
/* footer styles/layout*/
footer {
	font-size: 1.5em;
	margin-top: auto;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.socials {
	display: flex;
	flex-direction: column;
}
.socials a {
	text-decoration: none;
	margin-right: 5vw;
}
.socials a:hover {
	color: black;
}
.legals * {
	color: black;
}
