* {
	margin: 0;
	padding: 0;
	background-color: #466060;
	color: antiquewhite;
}
body,
html {
	min-height: 100vh;
	min-width: 95vw;
}
/* Nav */
.nav-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-list {
	display: inline;
}
.nav-list li {
	display: inline;
	padding: 1vh 3vw;
}
.nav-list a {
	text-decoration: none;
	font-size: 2.5em;
}
.nav-list a:hover {
	color: black;
	cursor: pointer;
}

.logo {
	max-width: 5vw;
	max-height: 5vh;
	margin: 1vh 1vh 1vh 1vh;
}
.contact-button-box {
	display: inline-block;
}
.contact-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	font-size: 1.2em;
	border-radius: 50px;
	border: none;
	cursor: pointer;
	margin: 1vh 2vw 1vh 1vw;
}
.contact-button:hover {
	background-color: antiquewhite;
	color: black;
}
/* main content */
.main-1 {
	text-align: center;
	margin: 5vh 3vw 10vh 3vw;
}
.main-1 h1 {
	font-size: 5em;
	color: #f8c7cc;
}
.main-1 h2 {
	font-size: 3em;
}
.main-1 p {
	font-size: 2em;
}
/* Menu */
.menu-container {
	margin: 0 15vw 10vh 15vw;
	display: grid;
	gap: 10px;
	max-width: 80vw;
	grid-template-columns: repeat(1fr, 3);
	grid-template-rows: repeat(1fr, 5);
	grid-template-areas:
		"1 2 3"
		"4 5 6"
		"7 8 9"
		"10 11 12"
		"13 14 15";
	align-items: center;
}
.menu-item {
	text-align: center;
	background-color: #57886c;
	padding: 5px;
	box-shadow: black;
}
.menu-item img {
	width: 100%;
}
.menu-item h1 {
	font-size: 2.2em;
	background-color: #57886c;
	color: #f8c7cc;
}
.menu-item p {
	font-size: 1.4em;
	background-color: #57886c;
}
.catering-shill {
	font-size: 2em;
	text-align: center;
	color: #81a684;
	margin-bottom: 10vh;
}
.catering-shill a {
	text-decoration: none;
}
.catering-shill a:hover {
	color: black;
}
/* footer styles/layout*/
footer {
	font-size: 1.5em;
	margin-top: auto;
	height: 10vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.socials {
	display: flex;
	flex-direction: column;
}
.socials a {
	text-decoration: none;
	margin-right: 5vw;
}
.socials a:hover {
	color: black;
}
.legals * {
	color: black;
}
