* {
	margin: 0%;
	padding: 0%;
	background-color: rgb(178, 105, 247);
	color: antiquewhite;
	/* border: 1px solid red; */
}
/* Header Bar */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 10vh;
}
.logo {
	max-width: 5vh;
}
.contact-button {
	padding: 2vh 5vw;
	background-color: black;
	color: antiquewhite;
	border-radius: 50px;
	border: none;
	cursor: pointer;
}
.contact-button:hover {
	background-color: antiquewhite;
	color: black;
}

.nav-links {
	display: inline-flex;
	padding: 5vw;
}
.nav-links a {
	text-decoration: none;
	font-size: 2em;
}
.nav-links a:hover {
	color: black;
	cursor: pointer;
}
